/* .table-borderless td,
.table-borderless th {
  border: 0;
} */
/* th {
  margin-right: 30px;
} */
.history__btn {
  width: 141px;
  border-radius: 20px;
  height: 48px;
}

.table {
  border-collapse: separate;
  border-spacing: 20px 0;
}

.margin {
  margin-right: 4rem;
}

.margin-last {
  margin-right: 7rem;
}

/* td {
  text-align: center;
  margin-right: 100px;
  padding: 5px;
} */

th {
  font-weight: 300;
}
