@media only screen and (max-width: 1400px) {
  .card-res {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1071px) {
  .card-res {
    display: block;
  }
  .card-width {
    width: 46rem !important;
    margin: auto;
  }
}

@media only screen and (max-width: 992px) {
  .ms-3 {
    margin-left: 0rem !important;
  }
  .container {
    max-width: 100% !important;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .card-width {
    width: 70% !important;
    margin: auto;
  }
}
@media only screen and (max-width: 692px) {
  .card-width {
    width: 27rem !important;
    margin: auto;
  }
}

@media only screen and (max-width: 467px) {
  .card-width {
    width: 20rem !important;
    margin: auto;
    padding-left: 20px;
  }
  .ps-2 {
    padding-left: 20px !important;
  }
}

.card-width {
  width: 23rem;
}
